{% extends 'base.html.twig' %}
{% block title %}
	{{ 'alex_seif'|trans }}
	-
	{{ 'web_developer'|trans|capitalize }}
{% endblock %}
{% block content %}
	<div class="scrollsign">
		{{ include('default/_about.html.twig') }}
		<section id="sales" class="">
			<div class="container">
				<div class="card shadow">
					<div class="inline text-section">
						<div class="card-body">
							<p class="font-large">
								In the next 12- 18 months, AI models (like Google's new Overviews and future chatbots) will become the primary way patients search for and get recommended to healthcare providers. We help clinics like yours dominate that shift. We optimize your website's hidden 'semantic data' to directly feed these machines, ensuring the AI recommends you over your competitors for the most profitable patient queries.<br/>
								Fill in this form to get started today!
							</p>
						</div>
					</div>
					<div class="text-end ">
						<a href="https://alexseif.com/intake" class="cta">Client Intake</a>
					</div>
					<!-- .banner -->
				</div>
			</div>
			<!-- .container -->
		</section>
		<div class="container">
			<h3>I build wonderous things like this</h3>
			<div class="image-wrapper">
				<figure>
					<img src="{{asset('build/images/sales/how-can-we-make-you-happy.webp')}}" alt="How can we make you happy"/>
				</figure>
			</div>
			<!--.image-wrapper-->
		</div>
		{{ include('default/_value.html.twig') }}
		{{ include('default/_services.html.twig') }}
		{{ include('default/_usp.html.twig') }}
		{% include 'landing_page/_proof.html.twig' %}
	</div>
	<!-- #fullpages -->
{% endblock %}
{% block announcements %}{% endblock %}
