{% extends 'base.html.twig' %}
{% block title %}
  {{ 'merry_christmas_from'|trans }}
  {{ 'alex_seif'|trans }}
  -
  {{ 'web_developer'|trans|capitalize }}
{% endblock %}
{% block meta %}
  <meta property="og:title" content="Merry Christmas from Alex Seif!" />
  <meta property="og:description" content="May your Christmas be merry and your New Year bright!" />
  <meta property="og:image" content="https://alexseif.com/images/merry-christmas.png" />
  <meta property="og:url" content="https://alexseif.com/merry-christmas" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Merry Christmas from Alex Seif!" />
  <meta name="twitter:description" content="May your Christmas be merry and your New Year bright!" />
  <meta name="twitter:image" content="https://alexseif.com/images/merry-christmas.png" />
{% endblock %}
{% block stylesheets %}
  {{ encore_entry_link_tags('merrychristmas') }}
{% endblock %}
{% block javascripts %}
  {{ encore_entry_script_tags('merrychristmas') }}
  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=677bc0165e09d6001a1a134d&product=inline-share-buttons&source=platform" async="async"></script>
{% endblock %}

{% block body %}
  <div id="logo">
    <a href="{{ path('alx_home') }}" class="" id="logo-div"><img src="{{ asset('build/images/ALX.webp') }}" width="100" height="100" alt="Alex Seif logo" class="img-fluid" /></a>
  </div>
  <canvas></canvas>
  <!-- <h1>hover over the purple stars..</h1> -->
  <div class="christmas-card">
    <div>
      <h1 class="title">
        Merry Christmas<br />
        عيد ميلاد مجيد<br />
        Շնորհավոր Սուրբ Ծնունդ
      </h1>
      {# <h2 class="subtitle">And a happy new year</h2> #}
      <h3 class="name"><a href="{{ path('alx_home') }}" class="h3">ALex Seif</a></h3>
    </div>
  </div>
  <!-- ShareThis BEGIN -->
  <div class="sharethis-inline-share-buttons"></div>
  <!-- ShareThis END -->
{% endblock %}
{% block announcements %}
{% endblock %}
