<!DOCTYPE html>
<html class='full' lang="en" xml:lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>{% block title %}Alex Seif - Software Engineer{% endblock %}</title>
    {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
              rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/base.css') }}"/>
    {% endblock %}
    {% if ("prod" == app.environment) %}
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
                var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-K5BKGDM');
        </script>
        <!-- End Google Tag Manager -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-8657000585167176",
                enable_page_level_ads: true
            });
        </script>
        <meta name="facebook-domain-verification" content="55y5g1lj54t6o335yyjeg91fnxnxgi" />
        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t,s)}(window, document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1432693350451142');
            fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id=1432693350451142&ev=PageView&noscript=1"
            /></noscript>
        <!-- End Facebook Pixel Code -->
    {% endif %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block meta %}
        <meta property="og:title" content="Alex Seif"/>
        <meta property="og:url" content="https://alexseif.com"/>
        <meta property="og:image" content="https://alexseif.com/images/alex-seif-business-card.png"/>
        <meta property="og:site_name" content="Alex Seif"/>
        <meta property="og:description"
              content="Custom software, mobile applications and websites I build, help you increase profit, minimize risk and make your business more efficient."/>
        <link rel="canonical"
              href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
    {% endblock %}
</head>
<body>
{% if ("prod" == app.environment) %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5BKGDM"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

{% endif %}
{% block body %}
    {% include ':default:nav.html.twig' %}
    {% block content %}
    {% endblock %}
    {% include 'sections/footer.html.twig' %}
    {% block announcements %}
        <div id="announcements">
            <div class="wise-owl">
                <a href="https://wa.me/+201004006332" target="_blank">
                    <img src="{{ asset('images/owl.png') }}" alt="owl" width="100"/>
                    <div class="wise-owl-msg" style='display: none;'>
                        Contact me for updates on my portfolio
                    </div>
                </a>
            </div>
        </div>
        <div class="scroll-indicator">
            <div class="progress-container">
                <div class="progress-bar" id="myBar"></div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {# <script #}
    {# src="https://code.jquery.com/jquery-3.4.1.min.js" #}
    {# integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" #}
    {# crossorigin="anonymous"></script> #}
{% endblock %}
<!-- Messenger Chat Plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat Plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

{% if ("prod" == app.environment) %}
<script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "268403033331219");
    chatbox.setAttribute("attribution", "biz_inbox");
    window.fbAsyncInit = function() {
        FB.init({
            xfbml            : true,
            version          : 'v10.0'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
{% endif %}
</body>
</html>
