{% extends '::base.html.twig' %}
{% block title %}about Alex Seif - Web developer{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/scss/about.css') }}"/>
{% endblock %}
{% block content %}
    <div id="noise-bg"></div>
    <canvas id="noise-canvas"></canvas>
    <div class="x-container">
        <section class="late-intro">
            <header>
                <h2>about me</h2>
                <div class="profile-image">
                    <img src="{{ asset('images/IMG-20201214-WA0018-crop.jpg') }}" alt="Alex Seif profile image"/>
                </div>
            </header>
            <div class="txt-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                    cursus
                    ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. <b>Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit</b>. Praesent mauris. Fusce nec tellus sed
                    augue
                    semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. <b>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</b>. Class aptent taciti sociosqu ad litora torquent per conubia
                    nostra,
                    per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. </p>

                <p>Curabitur tortor. Pellentesque nibh. <b>Fusce nec tellus sed augue semper porta</b>. Aenean quam. In
                    scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc
                    egestas
                    porttitor. <b>Curabitur tortor</b>. Morbi lectus risus, iaculis vel, suscipit quis, luctus non,
                    massa.
                    <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</i>. Fusce ac turpis quis ligula lacinia
                    aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque
                    volutpat condimentum velit. <b>Sed dignissim lacinia nunc</b>. Class aptent taciti sociosqu ad
                    litora
                    torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. </p>

                <p>Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis
                    turpis.
                    Nulla facilisi. <b>Proin ut ligula vel nunc egestas porttitor</b>. Ut fringilla. Suspendisse
                    potenti.
                    Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. <i>In scelerisque sem at dolor</i>.
                    Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit. Sed lectus. Integer
                    euismod
                    lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum
                    magna
                    augue eget diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                    Curae;
                    Morbi lacinia molestie dui. Praesent blandit dolor. </p>

                <p>Sed non quam. In vel mi sit amet augue congue elementum. <b>Vestibulum sapien</b>. Morbi in ipsum sit
                    amet pede facilisis laoreet. Donec lacus nunc, viverra nec, blandit vel, egestas et, augue.
                    Vestibulum
                    tincidunt malesuada tellus. Ut ultrices ultrices enim. Curabitur sit amet mauris. Morbi in dui quis
                    est
                    pulvinar ullamcorper. Nulla facilisi. Integer lacinia sollicitudin massa. Cras metus. </p>

                <p>Sed aliquet risus a tortor. Integer id quam. Morbi mi. <b>Curabitur sit amet mauris</b>. Quisque nisl
                    felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante.
                    Nulla quam. Aenean laoreet. <i>Donec lacus nunc, viverra nec, blandit vel, egestas et, augue</i>.
                    Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede. Ut orci risus, accumsan
                    porttitor,
                    cursus quis, aliquet eget, justo. Sed pretium blandit orci. Ut eu diam at pede suscipit sodales.
                </p>
            </div><!-- .txt-container -->
        </section>
    </div><!-- .x-container -->
{% endblock %}
{% block announcements %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    <script src="{{ asset('js/about.js') }}"></script>#}
{% endblock %}
