{% extends '::base.html.twig' %}
{% block title %}about Alex Seif - Web developer{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/scss/coming-soon.css') }}"/>
{% endblock %}
{% block content %}
    <div id="noise-bg"></div>
    <canvas id="noise-canvas"></canvas>
    <div class="coming-soon">
        Coming Soon
    </div>
{% endblock %}
{% block announcements %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script src="{{ asset('js/home.js') }}"></script>
    {# <script src="{{ asset('js/about.js') }}"></script> #}
{% endblock %}
