{% extends '::base.html.twig' %}
{% block title %}Alex Seif - Web developer{% endblock %}
{% block content %}
  <section class="full-page intro">
    <div class="wrapper">
      <header>
        <h2 class="">Software, app and web developer</h2>
      </header>
      <div class="bottom-section">
        <p>
          Custom software, mobile applications and websites I build, help you increase profit, minimize risk and make your business more efficient.
        </p>
        <a class='button' href="mailto:contact@alexseif.com" target="_blank">Start a project</a>
      </div>
    </div>
  </section>
  <section class="full-page slogan">
    <div class="wrapper">
      <header>
        <h3>
          I create progress by designing and developing digital experiences
        </h3>
      </header>
    </div>
  </section>
  <section class="full-page pitch">
    <div class="wrapper">
      <ul>
        <li class="sr">
          <h4>Make it</h4>
          <p>Reflect your establishement online and claim your digital space. I&rsquo;d love to <a href="mailto:contact@alexseif.com">build it for you.</a></p>
        </li>
        <li class="sr">
          <h4>Deliver it</h4>
          <p>Reach the people that matter to your business on your terms. Get <a href="mailto:contact@alexseif.com">professional support</a> promoting you.</p>
        </li>
        <li class="sr">
          <h4>Run it</h4>
          <p>Enrich your relation with your <span id=interactive-text>customers.</span>
            Live simply. Live clean. Live <a href="mailto:contact@alexseif.com">in control.</a></p>
        </li>
        <li class="sr">
          <h4>Grow it</h4>
          <p>Business has only two functions – marketing and innovation.
            It's time to <a href="mailto:contact@alexseif.com">get in touch.</a></p>
        </li>
      </ul>
    </div>
  </section>
  <section class="projects">
    <div class="wrapper">
      <h3 class="title">My work</h3>
      <ul>
        {% for portfolio in portfolios %}
          <li class="sr">
            <h2>
              {{ portfolio.title }} <span class="year"> {{ portfolio.publishedAt  ? portfolio.publishedAt|date("Y")}}</span>
            </h2>
            <p>{{ portfolio.subtitle }}</p>
            {% for tag in portfolio.tags %}
              <span>{{ tag.name }}</span>{{ (loop.last)? ';' : ','}}
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <footer class="end" itemscope itemtype="http://data-vocabulary.org/Person">
    <div class="wrapper">
      <h2 class="h1" itemprop="name">Alex Seif</h1>
        <h2 itemprop="title">Software Engineer</h2>
        <h2 itemprop="name">{{ ("now"|date("Y")) - 2004 }} yrs experience</h2>
        <h3>
          Based in 
          <span class="flg-hldr">Cairo<img src="/images/Flag_of_Cairo.svg" alt="Flag of Cairo"/></span>, 
          <span class="flg-hldr">Egypt<img src="/images/218px-Flag_of_Egypt.svg.png" alt="Flag of Egypt"/></span>
        </h3>
        <h4>
          From <span class="flg-hldr">Alexandria<img src="/images/218px-Flag_of_Alexandria.svg.png" alt="Flag of Alexandria"/></span>, 
          <span class="flg-hldr">Egypt<img src="/images/218px-Flag_of_Egypt.svg.png" alt="Flag of Egypt"/></span>
        </h4>
        <div class="bottom-section">
          <h2>Email
            <span id="cycling-1">
              <a href="mailto:contact@alexseif.com">for a project</a>
            </span>
            <span id="cycling-2" style="display: none;">
              <a href="mailto:contact@alexseif.com">for a <span>&#127829;</span><span>&#127881;</span></a>
            </span>
            <span id="cycling-3" style="display: none;">
              <a href="mailto:contact@alexseif.com"><span>to make &#128241;</span></a>
            </span>
            <span id="cycling-4" style="display: none;">
              <a href="mailto:contact@alexseif.com">for a <span>&#127940;</span></a>
            </span>
            <span id="cycling-5" style="display: none;">
              <a href="mailto:contact@alexseif.com">to <span>&#128397;</span> ideas</a>
            </span>
          </h2>
          <h2 class="developer"><a href="{{ path('jobs_index') }}">Developers Wanted</a></h2>
          <p><span>&#9757;</span>No recruitment agencies.</p>
        </div>
        <!-- <div class="notes">
           <h2>Let&rsquo;s work together</h2>
           <p>Because of confidentiality with my existing clients, please <a href='mailto:contact@alexseif.com'>email</a> me to schedule a personalized portfolio presentation.</p>
         </div>
         <div class="links">
           <a href="mailto:contact@alexseif.com">Email</a>
           <a href="https://www.linkedin.com/in/alexseif/">LinkedIn</a>
           <a href="{{ path('about')}}">About</a>
           <a href="{{ path('jobs_index')}}">Jobs</a>
   
         </div> -->
        {#
                <div class='footer-owl pull-right' style='position: absolute; bottom: -50px; right: 50px;'>
                  <img src='/images/owl.png' alt="Owl"/>
                </div>
        #}
        <div class="footnote">
          Built with care
        </div>
    </div>
  </footer>
  <div class="baseline"></div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="/js/scrollreveal.min.js"></script>
  <script src="/js/typed.min.js"></script>
  <script>
    // Logo color
    function logoColor() {
      var light_pos = $('section:nth-child(even)').offset().top;
      var light_height = $('section:nth-child(even)').height();
      var projects_pos = $('section.projects').offset().top;
      var projects_height = $('section.projects').height();
      var menu_pos = $('#alx').offset().top;
      var menu_height = $('#alx').height();
      var scroll = $(window).scrollTop();

      //console.log('light', light_pos);
      //console.log('projects', projects_pos);
      //console.log('menu', menu_pos);
      //console.log('scroll', scroll);

      if (menu_pos > light_pos && menu_pos < (light_pos + light_height)) {
        $('#alx').addClass('menu_black');
        $('#alx').removeClass('menu_white');
      } else {
        $('#alx').removeClass('menu_black');
        $('#alx').addClass('menu_white');
      }
      if (menu_pos > projects_pos && menu_pos < (projects_pos + projects_height)) {
        $('.page-elements').css('max-width', 100);
        $('#alx').addClass('menu_black');
        $('#alx').removeClass('menu_white');
      } else {
        $('.page-elements').css('max-width', 'unset');
      }
    }
    //Footer size
    function siteFooter() {
      var siteContent = $('.projects');
      var siteContentHeight = siteContent.height();
      var siteContentWidth = siteContent.width();

      var siteFooter = $('footer');
      var siteFooterHeight = siteFooter.height();
      var siteFooterWidth = siteFooter.width();

      //console.log('Content Height = ' + siteContentHeight + 'px');
      //console.log('Content Width = ' + siteContentWidth + 'px');
      //console.log('Footer Height = ' + siteFooterHeight + 'px');
      //console.log('Footer Width = ' + siteFooterWidth + 'px');

      siteContent.css({
        "margin-bottom": siteFooterHeight + 100
      });
    }

    //cycle through emoji greetings
    function cycleEmoji() {
      var divs = $('span[id^="cycling-"]').hide(),
              i = 0;
      (function cycle() {
        divs.eq(i).fadeIn(200).delay(1000).fadeOut(200, cycle);
        i = ++i % divs.length;
      }
      )();
    }

    //cycle through people
    function cyclePeople() {
      $("#interactive-text").typed({
        strings: [
          "customers.",
          "employees.",
          "community.",
          "patients.",
          "clients."
        ],
        // Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
        stringsElement: null,
        // typing speed
        typeSpeed: 30,
        // time before typing starts
        startDelay: 0,
        // backspacing speed
        backSpeed: 0,
        // time before backspacing
        backDelay: 2000,
        // loop
        loop: true,
        // false = infinite
        loopCount: 2,
        // show cursor
        showCursor: true,
        // character for cursor
        cursorChar: "|",
        // attribute to type (null == text)
        attr: null,
        // either html or text
        contentType: 'text',
        preStringTyped: function (count) {
          switch (count) {
            case 1:
              $('#pre-intr-text').text("more");
              break;
            case 2:
            case 3:
              $('#pre-intr-text').text("");
              break;
            default:
              $('#pre-intr-text').text("your");
              break;
          }
        },
      });
    }
  </script>
  <script>
    $(document).ready(function () {
      // COULD BE SIMPLIFIED FOR THIS PEN BUT I WANT TO MAKE IT AS EASY TO PUT INTO YOUR SITE AS POSSIBLE
      $(window).resize(siteFooter);
      $(window).scroll(logoColor);
      // INITIATE THE Logo
      logoColor();
      // INITIATE THE FOOTER
      siteFooter();

      //hide baseline
      $(".baseline").hide();

      cycleEmoji();
      cyclePeople();
    });
  </script>
  <script>

    window.sr = ScrollReveal({reset: true});
    {#    sr.reveal('.sr', {mobile: false, delay: 10, scale: .95});#}
      sr.reveal('.sr');

      $(".baseline-toggle").click(function () {
        $(".baseline").css('opacity', 1);
        $(".baseline").toggle();
      }
      );
  </script>
{% endblock %}
