{% extends '::base.html.twig' %}
{% block title %}Alex Seif - Web developer{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/scss/home.css') }}"/>
{% endblock %}
{% block content %}
    <div id="adiv"></div>
    <canvas id="acanvas"></canvas>
    <div class="site-wrapper">
        {% include 'sections/intro.html.twig' %}
        {% include 'sections/slogan.html.twig' %}
{#        {% include 'sections/pitch.html.twig' %}#}
        {% include 'sections/projects.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.fittext.js') }}"></script>
    <script src="{{ asset('js/scrollreveal.min.js') }}"></script>
    <script src="{{ asset('js/typed.min.js') }}"></script>
    <script src="{{ asset('js/home.js') }}"></script>
    <script>
        var canvas = document.getElementById("acanvas");

        var w = canvas.width = 64;
        var h = canvas.height = 64;

        var context = canvas.getContext("2d");

        for(i=0;i<w;i++) {
            for(j=0;j<h;j++) {

                var num = Math.floor(Math.random()*255)
                context.fillStyle = "rgb(" + num + "," + num + "," + num + ")";
                context.fillRect(i, j, 1, 1);
            }
        }

        $("#adiv").css ( {
            "background-image": "url("+canvas.toDataURL()+")"
        });
    </script>
{% endblock %}
