{% extends 'default/base-minimalist.html.twig' %}
{% block title %}Alex Seif - Software Engineer{% endblock %}
{% block body %}
  <div class="background"></div>
  <section class="hello" itemscope itemtype="http://data-vocabulary.org/Person">
    <div class="wrapper">
      <h1 itemprop="name">Alex Seif</h1>
      <h2 class="thingos">
        <span class="sr" itemprop="title">Software Engineer<br/></span>
        <span class="sr" itemprop="name">{{ ("now"|date("Y")) - 2004 }} yrs experience<br/></span>
        <span class="sr" itemprop="workLocation">Based in 
          <span class="flg-hldr">Alexandria<img src="/images/218px-Flag_of_Alexandria.svg.png"/></span>, 
          <span class="flg-hldr">Egypt<img src="/images/218px-Flag_of_Egypt.svg.png"/></span>
        </span>
      </h2>
      <div class="bottom-section">
        <h2>Email
          <span id="cycling-1">
            <a href="mailto:contact@alexseif.com">for a project</a>
          </span>
          <span id="cycling-2" style="display: none;">
            <a href="mailto:contact@alexseif.com">for a <span>&#127829;</span><span>&#127881;</span></a>
          </span>
          <span id="cycling-3" style="display: none;">
            <a href="mailto:contact@alexseif.com"><span>to make &#128241;</span></a>
          </span>
          <span id="cycling-4" style="display: none;">
            <a href="mailto:contact@alexseif.com">for a <span>&#127940;</span></a>
          </span>
          <span id="cycling-5" style="display: none;">
            <a href="mailto:contact@alexseif.com">to <span>&#128397;</span> ideas</a>
          </span>
        </h2>
        <h2 class="pull-right"><a href="{{ path('jobs_index') }}">Developers Wanted</a></h2>
      </div>
    </div>
  </section>
  <section class="also">
    <div class="wrapper">
      <ul>
        <li class="sr">
          <h1>Make it</h1>
          <p>Reflect your establishement online and claim your digital space. I&rsquo;d love to <a href="mailto:contact@alexseif.com">build it for you.</a></p>
        </li>
        <li class="sr">
          <h1>Deliver it</h1>
          <p>Reach the people that matter to your business on your terms. Get <a href="mailto:contact@alexseif.com">professional support</a> promoting you.</p>
        </li>
        <li class="sr">
          <h1>Run it</h1>
          <p>Enrich your relation with your <span id=interactive-text>customers.</span><br/>
            Live simply. Live clean. Live <a href="mailto:contact@alexseif.com">in control.</a></p>
        </li>
      </ul>
    </div>
  </section>
  <section class="projects">
    <div class="wrapper">
      <h1 class="title">Work</h1>
      <ul>
        {% for portfolio in portfolios %}
          <li class="sr">
            <h3>
              {{ portfolio.title }} <span class="year"> {{ portfolio.publishedAt  ? portfolio.publishedAt|date("Y")}}</span>
            </h3>
            <p>{{ portfolio.subtitle }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="end">
    <div class="wrapper">
      <div class="notes sr">
        <h2>Let&rsquo;s work together</h2>
        <p>Because of confidentiality with my existing clients, please <a href='mailto:contact@alexseif.com'>email</a> me to schedule a personalized portfolio presentation.</p>
        <p><span>&#9757;</span>No recruitment agencies.</p>
      </div>
      <div class="links sr">
        <a href="mailto:contact@alexseif.com">Email</a>
        <a href="https://www.linkedin.com/in/alexseif/">LinkedIn</a>
        <a href="{{ path('about')}}">About</a>
        <a href="{{ path('jobs_index')}}">Jobs</a>

      </div>
      <div class="footnote">
        Built with care
      </div>
    </div>
  </section>
  <div class="baseline"></div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="/js/scrollreveal.min.js"></script>
  <script type="text/javascript" src="/js/typed.min.js"></script>
  <script>
    //jquery
    $(document).ready(function () {
      //hide baseline
      $(".baseline").hide();


      //cycle through emoji greetings
      var divs = $('span[id^="cycling-"]').hide(),
              i = 0;
      (function cycle() {
        divs.eq(i).fadeIn(200).delay(1000).fadeOut(200, cycle);
        i = ++i % divs.length;
      }
      )();

      //cycle through people
      $("#interactive-text").typed({
        strings: [
          "customers.",
          "employees.",
          "community.",
          "patients.",
          "clients."
        ],
        // Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
        stringsElement: null,
        // typing speed
        typeSpeed: 30,
        // time before typing starts
        startDelay: 0,
        // backspacing speed
        backSpeed: 0,
        // time before backspacing
        backDelay: 2000,
        // loop
        loop: true,
        // false = infinite
        loopCount: 2,
        // show cursor
        showCursor: true,
        // character for cursor
        cursorChar: "|",
        // attribute to type (null == text)
        attr: null,
        // either html or text
        contentType: 'text',
        preStringTyped: function (count) {
          switch (count) {
            case 1:
              $('#pre-intr-text').text("more");
              break;
            case 2:
            case 3:
              $('#pre-intr-text').text("");
              break;
            default:
              $('#pre-intr-text').text("your");
              break;
          }
        },
      });
    });

    window.sr = ScrollReveal({reset: true});
    {#    sr.reveal('.sr', {mobile: false, delay: 10, scale: .95});#}
      sr.reveal('.sr');

      $(".baseline-toggle").click(function () {
        $(".baseline").css('opacity', 1);
        $(".baseline").toggle();
      });
  </script>
{% endblock %}
