{# based on http://dandalzotto.com and https://www.livingbreathing.com #}
{# https://github.com/jlmakes/scrollreveal #}
{# Checkout http://petravic.us #}
{# AND http://www.ispg.co #}
{#https://fonts.google.com/specimen/Roboto#}
{% extends 'base.html.twig' %}
{# TODO: Email #}
{% block title %}Alex Seif - Software Engineer{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <link href="/css/main.css" type="text/css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{% endblock %}
{% block body %}
  <div class="background"></div>
  <section class="hello">
    <div class="wrapper">
      <h3>Alex Seif</h3>
      <h2 class="thingos">
        <span class="sr">Software Engineer<br/></span>
        <span class="sr">Available for freelance<br/></span>
        <span class="sr">{{ ("now"|date("Y")) - 2004 }} years experience<br/></span>
        <span class="sr">Based in Alexandria, Egypt<br/></span>
      </h2>
      <div class="bottom-section">
        <h2>Email
          <span id=cycling-1>
            <a href="mailto:me@alexseif.com">for a project</a>
          </span>
          <span id=cycling-2>
            <a href="mailto:me@alexseif.com">for a <span>&#127829;</span><span>&#127881;</span></a>
          </span>
          <span id=cycling-3>
            <a href="mailto:me@alexseif.com"><span>to make &#128241;</span></a>
          </span>
          <span id=cycling-4>
            <a href="mailto:me@alexseif.com">for a <span>&#127940;</span></a>
          </span>
          <span id=cycling-5>
            <a href="mailto:me@alexseif.com">to <span>&#128397;</span> ideas</a>
          </span>
        </h2>
      </div>
    </div>
  </section>
  <section class="projects">
    <div class="wrapper">
      <h1 class="title">Work</h1>
      <ul>
        {% for portfolio in portfolios %}
          <li class="sr">
            <h3>{{ portfolio.title }} <span class="year"> {{ portfolio.publishedAt|date("Y")}}</span></h3>
            <p>{{ portfolio.subtitle }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="also">
    <div class="wrapper">
      <ul>
        <li class="sr">
          <h1>I run</h1>
          <p>Designer Partner at <a target='_blank' href='http://livingbreathing.com'>Living Breathing</a>, a brand and product design studio based in Alexandria, Egypt. We&rsquo;d love to work with you.</p>
        </li>
        <li class="sr">
          <h1>I ship</h1>
          <p>Design Director at a startup reimagining legal agreements (without the pain of the legal process). Get <a target='_blank' href='http://getoutlaw.com'>Outlaw</a>.</p>
        </li>
        <li class="sr">
          <h1>I make</h1>
          <p>Co-founder + Creative Director of a boutique skincare startup that doesn&rsquo;t hide behind the fine print. Live simply. Live clean. Live <a target='_blank' href='http://livebare.co'>Bare</a>.</p>
        </li>
      </ul>
    </div>
  </section>
  <section class="end">
    <div class="wrapper">
      <div class="notes sr">
        <h2>Let&rsquo;s work together</h2>
        <p>Because of confidentiality with my existing clients, please <a href='mailto:me@alexseif.com'>email</a> me to schedule a personalized portfolio presentation.</p>
        <p><span>&#9757;</span>No recruitment agencies.</p>
      </div>
      <div class="links sr">
        <a href="mailto:me@alexseif.com">Email</a>
        <a href="http://www.linkedin.com/in/mrdandalzotto/">LinkedIn</a>
        <a href="http://www.livingbreathing.com">Studio</a>
        </ul>
      </div>
      <div class="footnote">
        Built with Harp.js / Sass / and a <a class='baseline-toggle'>20px baseline</a> grid
      </div>
    </div>
  </section>
  <div class="baseline"></div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="/js/scrollreveal.min.js"></script>
  <script>
    //jquery
    $(document).ready(function () {
      //hide baseline
      $(".baseline").hide();


      //cycle through emoji greetings
      var divs = $('span[id^="cycling-"]').hide(),
              i = 0;
      (function cycle() {
        divs.eq(i).fadeIn(200).delay(1000).fadeOut(200, cycle);
        i = ++i % divs.length;
      }
      )();
    });

    window.sr = ScrollReveal();
    sr.reveal('.sr', {mobile: false, delay: 10, scale: .95});

    $(".baseline-toggle").click(function () {
      $(".baseline").css('opacity', 1);
      $(".baseline").toggle();
    });
  </script>
{% endblock %}
