{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="/css/portfolio.css" />
{% endblock %}
{% block content %}
  <div class="portfolio">
    <section class="image-grid">
      {% for portfolio in portfolios %}
        <article>
          <div class="image__cell is-collapsed">
            <div class="image--basic">
              <a href="#expand-jump-1">
                <img src="http://placehold.it/350x350" title="{PlaceHolder}" 
                     alt="{{ portfolio.title }}"
                     id="expand-jump-1" class="basic__img" />
              </a>
              <div class="arrow--up"></div>
            </div>
            <div class="image--expand">
              <a href="#close-jump-1" class="expand__close"></a>
              <img src="http://placehold.it/650x650" title="{PlaceHolder}" 
                   alt="{{ portfolio.title }}"
                   class="image--large" />
              <a href="{{ portfolio.slug }}" class="view">View</a>
              <h2 class="title">{{ portfolio.title }}</h2>
              <h3 class="subtitle">{{ portfolio.subtitle }}</h3>
              <p class="description">{{ portfolio.description }}</p>
              <span class="price">{{ portfolio.price|localizedcurrency('EGP') }}</span>
              <time datetime="2007-08-29T13:58Z">
                {{ portfolio.publishedAt|localizeddate }}
              </time>
              <a href="{{ portfolio.url }}" class="url">{{ portfolio.url }}</a>
              {% for tag in portfolio.tags %}
                <span class="tag">{{ tag }}</span>
              {% endfor %}
            </div>
          </div>
        </article>
      {% endfor %}
    </section>
    <section class="dt">
      <a href="javascript:void(0)" class="close-btn" aria-label="Close" 
         role="button"></a>
      <div class="img">
        <img src="http://placehold.it/650x450" title="{PlaceHolder}" alt="Alt"/>  
      </div>
      <div class="hs" style="height: 450px;"></div>
      <div class="dr">
        <div class="drt">
          <h2><a href="">Portfolio title</a></h2>
          <span>Portfolio subtitle</span>
          <p>Portfolio description</p>
          <div class="btns">
            <a><span><i class="glyphicon glyphicon-new-window"></i> 
                &nbsp;Open</span></a>
            <a><span><i class="glyphicon glyphicon-fullscreen"></i>
              </span></a>
            <a><span><i class="glyphicon glyphicon-heart-empty"></i>
                &nbsp;Like</span></a>
            <a><span><i class="glyphicon glyphicon-share-alt"></i>
                &nbsp;Share</span></a>
          </div>
        </div>
        <div class="vs"></div>
        <div class="drb">
          PHP; Web Presence; Travel;
          <br/>
          And maybe more images
        </div>
      </div>
      <a class="la"><div></div></a>
      <a class="ra"><div></div></a>
    </section>
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="/js/portfolio.js"></script>
{% endblock %}
