{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="/css/portfolio.css" />
{% endblock %}
{% block content %}
  <div class="portfolio">
    <section class="ig">
      {% for portfolio in portfolios %}
        <article>
          <div class="ic is-collapsed">
            <div class="image--basic">
              <a>
                <img src="http://placehold.it/350x350" title="{PlaceHolder}" 
                     alt="{{ portfolio.title }}"
                     class="basic__img" />
              </a>
              <div class="arrow--up"></div>
            </div>
            <div class="image--expand">
              <a class="expand__close"></a>
              <img src="http://placehold.it/650x650" title="{PlaceHolder}" 
                   alt="{{ portfolio.title }}"
                   class="image--large" />
              <a href="{{ portfolio.slug }}" class="view">View</a>
              <h2 class="title">{{ portfolio.title }}</h2>
              <h3 class="subtitle">{{ portfolio.subtitle }}</h3>
              <p class="description">{{ portfolio.description }}</p>
              <span class="price">{{ portfolio.price|localizedcurrency('EGP') }}</span>
              <time datetime="2007-08-29">
                {{ portfolio.publishedAt|localizeddate }}
              </time>
              <a href="{{ portfolio.url }}" class="url">{{ portfolio.url }}</a>
              {% for tag in portfolio.tags %}
                <span class="tag">{{ tag }}</span>
              {% endfor %}
            </div>
          </div>
        </article>
      {% endfor %}
    </section>

    <div class="dt">
      <a href="javascript:void(0)" class="cb" aria-label="Close" role="button"></a>
      <div class="img">
        <img src="http://placehold.it/650x450" title="{PlaceHolder}" alt="Alt"/>
      </div>
      <div class="hs" style="height: 450px;"></div>
      <div class="dr">
        <div class="drt">
          <h2><a href="" target="_blank">Portfolio title</a></h2>
          <span>Portfolio subtitle</span>
          <p>Portfolio description</p>
          <p style="text-align:center;">
            <small>EGP 30,000.00</small>&nbsp;-&nbsp;
            <small><a href="http://placehold.it/" target="_blank">
                http://placehold.it/</a></small>&nbsp;-&nbsp;
            <small>2007-08-29</small>
          </p>
          <div class="btns">
            <a><span><i class="glyphicon glyphicon-new-window"></i> 
                &nbsp;Open</span></a>
            <a><span><i class="glyphicon glyphicon-fullscreen"></i>
              </span></a>
            <a><span><i class="glyphicon glyphicon-heart-empty"></i>
                &nbsp;Like</span></a>
            <a><span><i class="glyphicon glyphicon-share-alt"></i>
                &nbsp;Share</span></a>
          </div>
        </div>
        <div class="vs"></div>
        <div class="drb">
          <div class="tags">
            <a><img src="http://placehold.it/80x80" title="{PlaceHolder}" alt="Alt"/></a>
            <a><img src="http://placehold.it/80x80" title="{PlaceHolder}" alt="Alt"/></a>
            <a><img src="http://placehold.it/80x80" title="{PlaceHolder}" alt="Alt"/></a>
            <a><img src="http://placehold.it/80x80" title="{PlaceHolder}" alt="Alt"/></a>
            <a><img src="http://placehold.it/80x80" title="{PlaceHolder}" alt="Alt"/></a>
          </div>
          <div>
            <span class="label label-default">PHP</span>
            <span class="label label-default">Travel</span>
            <span class="label label-default">Web Presence</span>
            <span class="label label-default">eCommerce</span>
            <span class="label label-default">Newspaper</span>
          </div>
        </div>
        <div class="ft">
          <a><small>Send Feedback</small></a>
        </div>
      </div>
      <a class="la"><div></div></a>
      <a class="ra"><div></div></a>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="/js/portfolio.js"></script>
{% endblock %}
