{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/scss/work.css') }}"/>
{% endblock %}
{% block content %}
    <div class="top-right">
        <a class='button start-project button_slide slide_right' href="https://wa.me/+201004006332"
           target="_blank">Start project</a>
    </div>
    <section>
        <div class="x-container">
            <h2 class="work-page-title">Work</h2>
            <div class="x-work">
                <ul class="work-list">
                    {% for index, work in work_list %}
                        <li class="work-item" data-img="{{ asset('images/drupal_developer.png') }}">
                            <a href="#">
                                <span class="work-number">{{ "%02d"|format(index + 1) }}</span>
                                <div class="work-title"><h3>{{ work.title }}</h3></div>
                                <span class="work-tag">/Travel Technology</span>
                                {% for tag in work.tags %}
                                    <span class="work-tag">/{{ tag }}</span>
                                {% endfor %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="work-preview">
                    <div class="work-preview__container">
                        <i class="work-preview__bg"></i>
                        <div class="work-preview__canvas">
                            <canvas id="work-canvas" width="792" height="445"></canvas>
                        </div>
                    </div><!-- .work-preview__container -->
                </div><!-- .work-preview -->
            </div><!-- .x-work -->
        </div><!-- .x-container -->
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/work.js') }}"></script>
{% endblock %}
