{% extends ':admin:base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/admin/jquery.tagit.css" />
{% endblock %}

{% block adminPageTitle %}New Portfolio{% endblock %}
{% block adminPageActions %}
  <a href="{{ path('admin_portfolio_index') }}" class="btn btn-default">
    <span class="glyphicon glyphicon-arrow-left"></span></a>
  {% endblock %}

{% block adminPageContent %}
  {{ form_start(portfolio_form) }}
  {{ form_row(portfolio_form.position) }}
  {{ form_row(portfolio_form.title) }}
  {{ form_row(portfolio_form.subtitle) }}
  {{ form_row(portfolio_form.description) }}
  {{ form_row(portfolio_form.url) }}
  {{ form_row(portfolio_form.price) }}
  {{ form_row(portfolio_form.tags) }}
  {{ form_row(portfolio_form.publishedAt) }}
  <button type="submit" value="Save" class="btn btn-primary btn-sm pull-right">
    <span class="glyphicon glyphicon-floppy-disk"></span></button>

  {{ form_end(portfolio_form) }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="/js/admin/tag-it.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $("#appbundle_portfolio_tags").tagit({
        allowSpaces: true,
        autocomplete: {source: "{{ path('admin_portfolio_tags') }}", minLength: 2}
      });
    });
  </script>
{% endblock %}
