{% extends ':admin:base.html.twig' %}
{% block adminPageTitle %}New Portfolio{% endblock %}
{% block adminPageActions %}
  <a href="{{ path('admin_portfolio_index') }}" class="btn btn-default">
    <span class="glyphicon glyphicon-arrow-left"></span></a>
  {% endblock %}

{% block adminPageContent %}
  {{ form_start(portfolio_form) }}
  {{ form_row(portfolio_form.title) }}
  {{ form_row(portfolio_form.subtitle) }}
  {{ form_row(portfolio_form.description) }}
  {{ form_row(portfolio_form.url) }}
  {{ form_row(portfolio_form.price) }}
  {{ form_row(portfolio_form.publishedAt) }}
  <button type="submit" value="Save" class="btn btn-primary btn-sm pull-right">
    <span class="glyphicon glyphicon-floppy-disk"></span></button>

  {{ form_end(portfolio_form) }}
{% endblock %}
