{% extends ':admin:base.html.twig' %}

{% block adminPageTitle %}Portfolio <small>{{ portfolio.title}}</small>{% endblock %}
{% block adminPageActions %}
  <a href="{{ path('admin_portfolio_index') }}" class="btn btn-default">
    <span class="glyphicon glyphicon-arrow-left"></span></a>
  <a href="{{ path('admin_portfolio_edit', { 'id': portfolio.id }) }}" 
     class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
  <button type="submit" value="Delete" class="btn btn-danger btn-sm delete-btn"
          data-id="portfolio_delete"><span 
      class="glyphicon glyphicon-trash"></span></button>
  {% endblock %}

{% block adminPageContent %}
  <ul class="list-group">
    <li class="list-group-item"><span class="badge">Title</span>
      {{ portfolio.title }}</li>
    <li class="list-group-item"><span class="badge">Slug</span>
      {{ portfolio.slug }}</li>
      {% if portfolio.subtitle %}
      <li class="list-group-item"><span class="badge">Subtitle</span>
        {{ portfolio.subtitle }}</li>
      {% endif %}
      {% if portfolio.description %}
      <li class="list-group-item"><span class="badge">Description</span>
        {{ portfolio.description }}</li>
      {% endif %}
      {% if portfolio.url %}
      <li class="list-group-item"><span class="badge">URL</span>
        {{ portfolio.url }}</li>
      {% endif %}
      {% if portfolio.price %}
      <li class="list-group-item"><span class="badge">Price</span>
        {{ (portfolio.price/100)|localizedcurrency('EGP') }}</li>
      {% endif %}
  </ul>
  {{ form_start(portfolio_delete_form, {'attr':{'id':'portfolio_delete'} }) }}{{ form_end(portfolio_delete_form) }}
{% endblock %}

