{% extends ':admin:base.html.twig' %}

{% block adminPageTitle %}Portfolio <small>{{ portfolio.title}}</small>{% endblock %}
{% block adminPageActions %}
  <a href="{{ path('admin_portfolio_index') }}" class="btn btn-default">
    <span class="glyphicon glyphicon-arrow-left"></span></a>
  <a href="{{ path('admin_portfolio_edit', { 'id': portfolio.id }) }}" 
     class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
  <button type="submit" value="Delete" class="btn btn-danger btn-sm delete-btn"
          data-id="portfolio_delete"><span 
      class="glyphicon glyphicon-trash"></span></button>
  {% endblock %}

{% block adminPageContent %}
  {{ portfolio.title }}
  {{ form_start(portfolio_delete_form, {'attr':{'id':'portfolio_delete'} }) }}{{ form_end(portfolio_delete_form) }}
{% endblock %}

