<section id="about">
  <div class="container fullpage">
    <div class="banner">
      <div class="image-wrapper">
        <img src="{{ asset('build/images/2023-06-22.jpg') }}" alt="Alex Seif, freelance web developer" width="" />
      </div>
      <div class="inline">
        👋🏾 Hi, I'm <h1>Alex Seif</h1>
        <p>
          a passionate freelance web developer based in Cairo, Egypt. With over <em>20 years</em> of experience, I've been dedicated to crafting exceptional online experiences for governments, businesses & individuals around the world.
        </p>
      </div>
    </div>
    <!-- .banner -->
    <div class="number-boxes grid-3">
      <div class="card">
        <div id="trophy-div">
          <h4>20 Years</h4>
          <div>{{ include('default/_trophy.html.twig') }}</div>
        </div>
        <p>WOW, 20 years! I'm grateful for all the creativity & impact I've witnessed. Working with amazing clients. Ready for more adventure.</p>
      </div>
      <div class="card">
        <h4>+25,000 Hrs</h4>
        <p>
          With a dedication to every project, I've logged over <em>25,000 hours</em>, ensuring each line of code contributes to the success of the final product.
        </p>
      </div>
      <div class="card">
        <h4>+400 Projects</h4>
        <p>
          Worked on over <em>over 400 projects</em> with 100s of clients, my work has reached over 250M+ Users & devices from diverse business sizes, markets & industries.
        </p>
      </div>
      <!-- .card -->
    </div>
    <!-- .number-boxes -->
    <div class="">
      {# <div> #}
      {# <h3>Built for impact,<br /> <em>Designed to convert,</em><br /> Cairo tested.</h3> #}
      {# </div> #}
      <div class="flow space-between column">
        {# <div class="card">
          <div class="badge-row">
            <div class="badge">{{ 'web_presence'|trans }}</div>
            <div class="badge">{{ 'ecommerce'|trans }}
              Solutions</div>
            <div class="badge">{{ 'travel_technology'|trans }}
              Innovations</div>
            <div class="badge">{{ 'ngo'|trans }}
              Projects</div>
            <div class="badge">eLearning Platforms</div>
            <div class="badge">eGovernment Services</div>
          </div>
        </div> #}
      </div>
      <!-- .card -->
    </div>
    <!-- .flow -->
  </div>
  <!-- .container -->
</section>
