<section class="fullpage intro clearfix" id="home">
	<div class="x-container" id="special-home-container">
		<header>
			<h2 class="fittext" id="my-title">Freelance
				<span>Web Developer</span>
				{# <span>with 20 Years of Experience</span> #}
				<span>Copy Paster</span>
			</h2>
		</header>
		<section id="wordpress-optimization" class="container rounded mb-5 d-flex flex-column flex-md-row ">

			<div class="img-wrapper">
				<a href="{{ path('app_landing_page') }}" title="Wordpress Oprimization packages">
					<img src=" {{ asset('build/images/Wordpress-Optimize-logo.png') }} " alt=" wordpress optimization packages" class=" rounded-circle img-fluid"/>
				</a>
			</div>
			<div class="title-wrapper align-content-center">
				<h4 class="text-center text-md-start">
					<a href="{{ path('app_landing_page') }}" title="Wordpress Oprimization packages" class="h4">
						{{ 'Wordpress Optimization Packages'|trans}}
					</a>
				</h4>
			</div>
			<div class="cta-wrapper align-content-end m-0">
				<a href=" https://wa.me/201004006332?text=Hi%20Alex%2C%20I%20need%20help%20with%20my%20WordPress%20site" target="_blank" class="btn btn-cta">{{ 'wordpress_optimize.header.cta_button'|trans }}</a>
			</div>

		</section>

		<div class=" bottom-section" id=" my-description">
			<div>
				Expert in
				{{ 'web_presence'|trans }},
			</div>
			<div>
				{{ 'ecommerce'|trans }}
				Solutions,
			</div>
			<div>
				{{ 'travel_technology'|trans }}
				Innovations,
			</div>
			<div>
				{{ 'ngo'|trans }}
				Projects,
			</div>
			<div>
				eLearning Platforms,
			</div>
			<div>
				eGovernment Services
			</div>
			<br/>
			<a class='button start-project button_slide slide_right' href="https://wa.me/+201004006332" target="_blank">Start Your Project</a>
		</div>
		<!-- .bottom-section -->
	</div>
</section>
