<section id="services">
	<div class="container">
		<header class="flow">
			<h2>Services</h2>
		</header>
		<div class="grid-3">
			{% for service in services %}
				<div class="card shadow">
					<div class="card-inner">

						<div class="card-face card-face-front">
							<div class="card-container">
								<h4>{{ service.title }}</h4>
								<p>{{ service.description|raw }}</p>
								<div class="badge-row">
									{% for tag in service.tags %}
										<span class="badge">{{ tag }}</span>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="card-face card-face-back">
							{% if service.img is defined %}
								<div class="image-wrapper">
									<figure>
										<img src="{{ asset('build/' ~ service.img) }}" alt="{{ service.title }}"/>
									</figure>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<!-- .grid-3 -->
	</div>
	<!-- .container -->
</section>
