{% extends 'base.html.twig' %}
{% block title %}{{ 'alex_seif'|trans }} - {{ 'web_developer'|trans|capitalize }}{% endblock %}
{% block meta %}
    {{ parent() }}
    <meta name="description"
          content="Freelance Web Developer based in Cairo, Egypt. Over 20 years of experience, providing web solutions globally.">
    <meta name="keywords" content="Freelance Web Developer, Web Development, Cairo, Egypt, eCommerce, Web Apps, SEO">
    <meta name="author" content="Alex Seif">
{% endblock %}
{% block structured_data %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Person",
            "name": "Alex Seif",
            "jobTitle": "Freelance Web Developer",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Cairo",
                "addressRegion": "EG"
            }
        }
    </script>
{% endblock %}
{% block content %}

    <div id="noise-bg"></div>
    <canvas id="noise-canvas"></canvas>
    <div id="fullpages">
        <section class="fullpage slide" id="page_1">
            {#        <div class="background-overlay"></div> #}
            <div class="x-container" id="special-home-container">
                <header>
                    <h2 class="fittext" id="my-title">{{ 'freelance'|trans }} <span>{{ 'web_developer'|trans }}</span>
                        <span>{{ 'copy_paster'|trans }}</span></h2>
                </header>
                <div class="bottom-section" id="my-description">
                    <div>
                        {{ 'web_presence'|trans }},
                    </div>
                    <div>
                        {{ 'ecommerce'|trans }},
                    </div>
                    <div>
                        {{ 'travel_technology'|trans }},
                    </div>
                    <div>
                        {{ 'ngo'|trans }},
                    </div>
                    <div>
                        eLearning,
                    </div>
                    <div>
                        eGovernment
                    </div>
                    <br/>
                    <a class='button start-project button_slide slide_right' href="https://wa.me/+201004006332"
                       target="_blank">{{ 'start_project'|trans }}</a>
                </div><!-- .bottom-section -->
            </div><!-- .x-container -->
        </section><!-- .fullpage .intro -->
        <section class="fullpage slide" id="page_2">
            {#        <div class="background-overlay"></div> #}
            <div class="container">
                <div class="d-flex mb-5 fs-4 align-items-end">
                    <div>
                        <img src="{{ asset('build/images/2023-06-22.jpg') }}" alt="Alex Seif, freelance web developer">
                    </div>
                    <div class="ps-5">
                        <h1>Freelance Web Developer</h1>
                        <p>
                            Hi, I'm <span class="fw-bold">Alex Seif</span>, a passionate freelance web developer based
                            in Cairo, Egypt. With over
                            <span class="h3">20 years</span> of experience, I've been dedicated to crafting exceptional
                            online experiences for businesses and individuals around
                            the world.
                        </p>
                    </div>
                </div>
                <div class="d-flex gap-5 justify-content-start">
                    <div class="w-25">
                        <span class="fs-1 fw-bold">+42,000 Hrs</span>
                        <p>With a dedication to every project, I've logged over <span class="bold">42,000</span> hours,
                            ensuring each line of code contributes to the success of the final product.</p>
                    </div>
                    <div class="w-25">
                        <span class="fs-1">+400 Projects</span>
                        <p>Collaborating with over <span class="bold">400</span> clients, my work has reached
                            over 250M+ Users & devices</p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col">
                        <h2>Market Expertise</h2>
                        <p class="fs-5">From the vibrant markets of Egypt to the dynamic landscapes of the UAE, KSA, Russia, and
                            beyond, I specialize
                            in providing tailored web solutions that resonate with diverse audiences.</p>
                    </div>
                    <div class="col">
                        <div class="fs-1">
                            {% for region in ['Egypt', 'UAE', 'KSA', 'Russia', 'MENA', 'ENA'] %}
                                <span class="badge">{{ region }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col">
                        <div class="fs-1">
                            {% for region in ['Micro', 'Small', 'Startups', 'Medium', 'Large & Corporate', 'Multinational & Governmental'] %}
                                <span class="badge">{{ region }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <h2>Business Sizes</h2>
                        <p class="fs-5">Whether you're a micro-business just starting or a multinational corporation seeking
                            digital
                            excellence, I've
                            successfully collaborated with various business sizes.</p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col">
                        <h2>Industries</h2>
                        <p class="fs-5">My expertise spans across a wide range of industries, ensuring that your web presence
                            aligns
                            perfectly with
                            the unique demands of your business sector.</p>
                    </div>
                    <div class="col">
                        <div class="fs-4">
                            {% for region in ['Web Presence', 'eCommerce', 'News', 'Social Networks', 'eTourism', 'Web Apps', 'eLearning','Fintech', 'Mission Critical Systems', 'Landing/Squeeze pages', 'Musician EPK', 'Artist Presence', 'School & College Presence', 'NGO & Research Centers'] %}
                                <span class="badge">{{ region }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col">
                        <div class="fs-2">
                            {% for region in ['HTML', 'CSS', 'Javascript', 'PHP', 'MySQL', 'CentOS', 'Ubuntu', 'Apache','Nginx','Symfony', 'Drupal', 'WordPress', 'Moodle', 'React.js', 'Machine Learning',  'AI', 'git'] %}
                                <span class="badge">{{ region }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <h2>Technical Expertise</h2>
                        <p class="fs-5">As a fullstack web developer, I specialize in utilizing a diverse set of technologies and
                            frameworks to bring
                            your projects to life.</p>
                    </div>
                </div>
                <hr/>

                <p>Ready to bring your ideas to life? I'm just an email or call away:</p>

                <ul>
                    <li>Email: <a href="mailto:me@alexseif.com">me@alexseif.com</a></li>
                    <li>Phone: <a href="tel:+201004006332">+20 100 400 6332</a></li>
                    <li>LinkedIn: <a href="https://www.linkedin.com/in/Alex-freelance-web-developer/">Alex Seif,
                            Freelance
                            Web Developer</a>
                    </li>
                    <li>Portfolio: <a href="https://www.alexseif.com/portfolio/">See some of my previous work</a>
                    </li>
                </ul>

            </div><!-- .x-container -->
        </section>
    </div><!-- #fullpages -->
{% endblock %}
{% block announcements %}
{% endblock %}

