<section class="container" id="contact">
  <div id="personal-outro" class="banner">
    <div class="image-wrapper">
      <img src="{{ asset('build/images/2023-06-22.jpg') }}" alt="Alex Seif, {{ 'wordpress_optimize.meta.job_title'|trans }}" />
    </div>
    <div class="title-wrapper">
      <p class="text-start">{{ 'wordpress_optimize.contact.title'|trans }}.
        {{ 'wordpress_optimize.contact.subtitle'|trans }}</p>
    </div>
  </div>
  <div class="cta-wrapper">
    <a href="https://wa.me/201004006332?text=Hi%20Alex%2C%20I%20need%20help%20with%20my%20WordPress%20site" target="_blank" class="cta">{{ 'wordpress_optimize.contact.cta_button'|trans }}</a>
  </div>
</section>
