<header class="container">
	<div class="d-flex mb-5 mt-5 align-items-center">
		<div class="image-wrapper">
			<img src="{{ asset('build/images/Wordpress-Optimize-logo.png') }}" alt="WordPress Optimization, speed up Wordpress" class="rounded-circle img-fluid"/>
		</div>
		<div class="p-1">
			<h1>{{ 'wordpress_optimize.header.title'|trans }}</h1>
		</div>
	</div>
	<div id="personal-intro" class="rounded mb-4">
		<div class="image-wrapper">
			<img src="{{ asset('build/images/2023-06-22.jpg') }}" alt="Alex Seif, {{ 'wordpress_optimize.meta.job_title'|trans }}" class="rounded-circle img-fluid">
		</div>
		<div class="title-wrapper p-1">
			{{ 'wordpress_optimize.header.subtitle'|trans }}
		</div>
	</div>
	<div class="cta-wrapper">
		<a target="_blank" class="btn btn-cta" href="https://wa.me/201004006332?text='hi%20alex%2c%20i%20need%20help%20with%20my%20wordpress%20site'">{{ 'wordpress_optimize.header.cta_button'|trans }}</a>

	</div>
</header>
