<section class="container" id="services">
  <h2>{{ 'wordpress_optimize.services.title'|trans }}</h2>
  <ul class="fancy-list">
    <li>{{ 'wordpress_optimize.services.value.0'|trans }}</li>
    <li>{{ 'wordpress_optimize.services.value.1'|trans }}</li>
    <li>{{ 'wordpress_optimize.services.value.2'|trans }}</li>
  </ul>
  <div class="services grid-3">
    {% for key, package in packages %}
      {% if key != 'all_packages' %}
        {% set translation_prefix = 'wordpress_optimize.services.' ~ key ~ '.' %}
        <div class="card card-top-{{ package.color }}">
          <div>
            <h3>{{ (translation_prefix ~ package.title)|trans }}</h3>
            <div class="text-end">
              <strong>{{ package.price_usd|format_currency('USD') }}</strong>
              <strong class="d-flex flex-column">
                {% if package.price_sales is defined %}
                  <del>{{ package.price_egp|format_currency('EGP') }}</del>
                  <span style="color:#0182BE;">{{ package.price_sales|format_currency('EGP') }}</span>
                {% else %}
                  <span style="color:#0182BE;">{{ package.price_egp|format_currency('EGP') }}</span>
                {% endif %}
              </strong>
            </div>
          </div>
          <div>
            <h4>{{ (translation_prefix ~ package.subtitle)|trans }}</h4>
            <hr />
            <p style="color:#0182BE; font-weight: bold;">{{ package.offer is defined ? package.offer|trans }}</p>
            <ul>
              {% for feature in package.features %}
                <li>{{ feature|trans }}</li>
              {% endfor %}
            </ul>
            <hr />
            <p class="fs-5">{{ (translation_prefix ~ package.ideal)|trans }}</p>
          </div>
          <div class="card-footer">
            <a href="{{ package.cta_link }}" target="_blank" class="cta btn btn-{{ package.color }} fw-bold">{{ (translation_prefix ~ package.cta_text)|trans }}</a>
          </div>
        </div>
        <!-- .card -->
      {% endif %}
    {% endfor %}
    {% set translation_prefix = 'wordpress_optimize.services.add-on.' %}
  </div>
  <div class="services grid-3">
    <div class="card">
      <div>
        <h3>{{ (translation_prefix ~ 'title')|trans }}</h3>
      </div>
      <div>
        <h4>{{ (translation_prefix ~ 'subtitle')|trans }}</h4>
        <hr />
        <p style="color:#0182BE; font-weight: bold;">{{ package.offer is defined ? package.offer|trans }}</p>
        <ul>
          <li>{{ (translation_prefix ~ 'features.0')|trans }}</li>
          <li>{{ (translation_prefix ~ 'features.1')|trans }}</li>
          <li>{{ (translation_prefix ~ 'features.2')|trans }}</li>
          <li>{{ (translation_prefix ~ 'features.3')|trans }}</li>
          <li>{{ (translation_prefix ~ 'features.4')|trans }}</li>
          <li>{{ (translation_prefix ~ 'features.5')|trans }}</li>
          <li>{{ (translation_prefix ~ 'features.6')|trans }}</li>
        </ul>
      </div>
      <div class="card-footer text-end">
        <div class="cta-wrapper">
          <a href="https://wa.me/201004006332?text=Hi%20Alex%2C%20I%20need%20help%20with%20my%20WordPress%20site" target="_blank" class="cta">{{ 'wordpress_optimize.header.cta_button'|trans }}</a>
        </div>
      </div>
    </div>

    <!-- .card -->

    {% set package = packages['all_packages'] %}
    {% set translation_prefix = 'wordpress_optimize.services.all_packages.' %}
    <div class="card card-top-{{ package.color }}">
      <div>
        <h3>{{ (translation_prefix ~ package.title)|trans }}</h3>
        <div class="text-end">
          <strong>{{ package.price_usd|format_currency('USD') }}</strong>
          <strong class="d-flex flex-column">
            {% if package.price_sales is defined %}
              <del>{{ package.price_egp|format_currency('EGP') }}</del>
              <span style="color:#0182BE;">{{ package.price_sales|format_currency('EGP') }}</span>
            {% else %}
              <span style="color:#0182BE;">{{ package.price_egp|format_currency('EGP') }}</span>
            {% endif %}
          </strong>
        </div>
      </div>
      <div>
        <h4>{{ (translation_prefix ~ package.subtitle)|trans }}</h4>
        <hr />
        <p style="color:#0182BE; font-weight: bold;">{{ package.offer is defined ? package.offer|trans }}</p>
        <ul>
          {% for feature in package.features %}
            <li>{{ feature|trans }}</li>
          {% endfor %}
        </ul>
        <hr />
        <p class="fs-5">{{ (translation_prefix ~ package.ideal)|trans }}</p>
      </div>
      <div class="card-footer">
        <a href="{{ package.cta_link }}" target="_blank" class="cta btn btn-{{ package.color }} fw-bold">{{ (translation_prefix ~ package.cta_text)|trans }}</a>
      </div>
    </div>
    <!-- .card -->
  </div>
  <!-- .card -->
</section>
