<section class="container" id="why">
  <h2>{{ 'wordpress_optimize.why_choose.title'|trans }}</h2>
  <ul class="check-list">
    <li>{{ 'wordpress_optimize.why_choose.reasons.0'|trans }}</li>
    <li>{{ 'wordpress_optimize.why_choose.reasons.1'|trans }}</li>
    <li>{{ 'wordpress_optimize.why_choose.reasons.2'|trans }}</li>
    <li>{{ 'wordpress_optimize.why_choose.reasons.3'|trans }}</li>
    <li>{{ 'wordpress_optimize.why_choose.reasons.4'|trans }}</li>
    <li>{{ 'wordpress_optimize.why_choose.reasons.5'|trans }}</li>
  </ul>
</section>
