{% extends 'base.html.twig' %}

{% block title %}
  {{ 'wordpress_optimize.meta.title'|trans }}
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('wp-optimize') }}
{% endblock %}
{% block structured_data %}
  <script type="application/ld+json">
		{"@context": "https://schema.org","@type": "ProfessionalService", "name": "Alex Seif – WordPress Optimization", "image": "https://alexseif.com/images/WordPress-Optimize-card.png", "url": "https://alexseif.com/wordpress-optimiziation", "description":
		{{ 'wordpress_optimize.meta.description'|trans }}, "address": { "@type": "PostalAddress", "addressLocality": "Cairo", "addressRegion": "EG", "addressCountry": "Egypt" }, "telephone": "+20-100-400-6332", "areaServed": "EG", "priceRange": "$$", "founder": { "@type": "Person", "name": "Alex Seif", "jobTitle":
		{{ 'wordpress_optimize.meta.job_title'|trans }}, "sameAs": [ "https://twitter.com/alexseif", "https://linkedin.com/in/alexseif", "https://github.com/alexseif", "https://www.instagram.com/alex_makes_websites" ] } }
	</script>
{% endblock %}
{% block meta %}
  <meta name="description" content="{{ 'wordpress_optimize.meta.description'|trans }}" />
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://alexseif.com/wordpress-optimization" />
  <meta property="og:title" content="{{ 'wordpress_optimize.meta.title'|trans }}" />
  <meta property="og:description" content="{{ 'wordpress_optimize.meta.description'|trans }}" />

  <meta property="og:image" content="https://alexseif.com/images/WordPress-Optimize-card.png" />
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@alexseif" />
  <meta name="twitter:creator" content="@alexseif" />
  <meta name="twitter:title" content="{{ 'wordpress_optimize.meta.title'|trans }}" />
  <meta name="twitter:description" content="{{ 'wordpress_optimize.meta.description'|trans }}" />
  <meta name="twitter:image" content="https://alexseif.com/images/WordPress-Optimize-card.png" />
{% endblock %}
{% block nav %}
  {{ include('landing_page/_nav.html.twig') }}
{% endblock %}
{% block content %}
  <main id="site-wrapper">
    {% include 'landing_page/_header.html.twig' %}
    {# TODO: 3 slots open this month. Dm to book #}
    {# TODO: Built for impact, Designed to convert, Cairo tested. #}

    {% include 'landing_page/_services.html.twig' %}
    {% include 'landing_page/_clients.html.twig' %}

    <section class="container">
      <h3>{{ 'wordpress_optimize.clients.who_is_it_for'|trans }}</h3>
      <ul class="fancy-list">
        <li>{{ 'wordpress_optimize.clients.target_audience.0'|trans }}</li>
        <li>{{ 'wordpress_optimize.clients.target_audience.1'|trans }}</li>
        <li>{{ 'wordpress_optimize.clients.target_audience.2'|trans }}</li>
        <li>{{ 'wordpress_optimize.clients.target_audience.3'|trans }}</li>
        <li>{{ 'wordpress_optimize.clients.target_audience.4'|trans }}</li>
        <li>{{ 'wordpress_optimize.clients.target_audience.5'|trans }}</li>
        <li>{{ 'wordpress_optimize.clients.target_audience.6'|trans }}</li>
        <li>{{ 'wordpress_optimize.clients.target_audience.7'|trans }}</li>
      </ul>
      <p class="fs-3 text-center">{{ 'wordpress_optimize.clients.conclusion'|trans }}</p>
      <div class="cta-wrapper">
        <a href="https://wa.me/201004006332?text=Hi%20Alex%2C%20I%20need%20help%20with%20my%20WordPress%20site" target="_blank" class="cta">{{ 'wordpress_optimize.header.cta_button'|trans }}</a>
      </div>
    </section>

    {% include 'landing_page/_usp.html.twig' %}
    {% include 'landing_page/_contact.html.twig' %}
  </main>
{% endblock %}
{% block footer %}
  <footer>
    <div class="container">
      <nav>
        {{ 'wordpress_optimize.footer.copyright'|trans }}
        <ul>
          <li>
            <a href="https://www.instagram.com/alex_makes_websites/" target="_blank" class="social-icon-link">{% include 'icons/014-instagram.svg' %}</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
{% endblock %}
