{% extends 'base.html.twig' %}

{% block body %}
    <h1>Career</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ career.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ career.title }}</td>
            </tr>
            <tr>
                <th>Jobtype</th>
                <td>{{ career.jobType }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ career.role }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ career.experience }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ career.location }}</td>
            </tr>
            <tr>
                <th>Technology</th>
                <td>{{ career.technology }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ career.company }}</td>
            </tr>
            <tr>
                <th>Responsbilities</th>
                <td>{{ career.responsbilities }}</td>
            </tr>
            <tr>
                <th>Skills</th>
                <td>{{ career.skills }}</td>
            </tr>
            <tr>
                <th>Additional</th>
                <td>{{ career.additional }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_career_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_career_edit', { 'id': career.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
