<div class="container">
  <header class="flow">
    <h2>Selected Work</h2>
    <p>Here’s a glimpse of recent work, real results, real traction.</p>
  </header>
  <!-- .flow -->
  <div class="grid-3 portfolio-grid">
    {% for work in works %}
      <div class="card">
        <div class="image-wrapper">
          <img src="{{ asset('build/images/portfolio/' ~ work.image) }}" alt="{{ work.title }} Project Screenshot" />
        </div>
        <div class="card-body">
          <h3>{{ work.title }}</h3>
          <p>{{ work.short }}</p>
          <div class="badge-row">
            {% for badge in work.badges %}
              <div class="badge">{{ badge }}</div>
            {% endfor %}
          </div>
        </div>
        <!-- .card-body -->
        <div class="card-footer">
          <a href="{{ work.link }}" target="_blank">{{ work.title }}</a>
        </div>
        <!-- .card-footer -->
      </div>
      <!-- .card -->
    {% endfor %}
  </div>
  <!-- .portfolio-grid -->
</div>
