<!DOCTYPE html>
<html lang="{{ app.request.locale }}" xml:lang="{{ app.request.locale }}" data-theme="dark-mode" dir="{{ is_rtl_locale(app.request.locale) ? 'rtl' : 'ltr' }}" class="dark-mode">
  <head prefix="og: https://ogp.me/ns#">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QV4S3QWW7F"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      
      gtag('config', 'G-QV4S3QWW7F')
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="description" content="Alex Seif - Freelance Web Developer with 20 years of experience in Symfony, WordPress, DevOps, and more." />
    <meta name="keywords" content="Alex Seif, Web Developer, Symfony, WordPress, DevOps, Portfolio" />
    <meta name="author" content="Alex Seif" />
    {% block meta %}
      <meta property="og:title" content="Alex Seif - Web Developer" />
      <meta property="og:url" content="{{ app.request.uri }}" />
      <meta property="og:image" content="{{ asset('images/profile.jpg') }}" />
      <meta property="og:site_name" content="Alex Seif" />
      <meta property="og:description" content="Freelance Web Developer with 20 years of experience in Symfony, WordPress, DevOps, and more." />
      <meta property="og:type" content="website" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:title" content="Alex Seif" />
      <meta name="twitter:description" content="Freelance Web Developer | 20 Years of Delivering Excellence." />
      <meta name="twitter:image" content="https://alexseif.com/images/alex-seif-business-card.png" />
      <link rel="canonical" href="https://alexseif.com/" />
    {% endblock %}
    <title>
      {% block title %}
        {{ 'alex_seif'|trans }}
        -
        {{ 'web_developer'|trans|capitalize }}
      {% endblock %}
    </title>
    {% block structured_data %}
      <script type="application/ld+json">
				{ "@context": "https://schema.org", "@type": "Person", "name": "Alex Seif", "jobTitle": "Freelance Web Developer", "address": { "@type": "PostalAddress", "addressLocality": "Cairo", "addressRegion": "EG" } }
			</script>
    {% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
      <link rel="preconnect" href="https://fonts.gstatic.com" />
      {{ encore_entry_link_tags('app') }}
      {% if app.request.locale != 'en' %}
        {{ encore_entry_link_tags('rtl') }}
      {% endif %}
    {% endblock %}
  </head>
  <body class="dark-mode">
    {% block body %}
      {% block nav %}
        {% include '_nav.html.twig' %}
      {% endblock %}
      <div id="background-noise">
        <canvas class="background-grid" id="dotCanvas"></canvas>
      </div>
      {% block sitewrapper %}
        <main id="site-wrapper">
          {% block content %}

          {% endblock %}
        </main>
      {% endblock %}
      {% block footer %}
        {% include 'footer.html.twig' %}
      {% endblock %}
    {% endblock %}
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>

    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat"></div>

    {% if 'prod' == app.environment %}
      <script>
				var chatbox = document.getElementById('fb-customer-chat');
chatbox.setAttribute("page_id", "268403033331219");
chatbox.setAttribute("attribution", "biz_inbox");
window.fbAsyncInit = function () {
FB.init({xfbml: true, version: 'v10.0'});
};

(function (d, s, id) {
var js,
fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) 
return;



js = d.createElement(s);
js.id = id;
js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
			</script>
    {% endif %}
  </body>
</html>
