<footer>
  <div class="container">
    <nav>
      <a href="{{ path('app_landing_page') }}" title="Wordpress Oprimization packages"><img src=" {{ asset('build/images/Wordpress-Optimize-logo.png') }} " alt=" wordpress optimization packages" width="80" /></a>
      <ul>
        <li>
          <a href="https://www.instagram.com/freelancer_alex/" target="_blank" class="social-icon-link"><img src="{{ asset('build/images/icons/014-instagram.svg') }}" alt="{{ 'alex_seif_instragram'|trans }}" class="social-icon" width="40" /></a>
        </li>
        <li>
          <a href="https://wa.me/+201004006332" target="_blank" class="social-icon-link"><img src="{{ asset('build/images/icons/027-whatsapp.svg') }}" alt="{{ 'alex_seif_whatsapp'|trans }}" class="social-icon" width="40" /></a>
        </li>
      </ul>
      <a href="{{ path('alx_home') }}" id="trophy-div">
        {{ include('default/_trophy.html.twig') }}
        <span>20 Years</span>
      </a>
    </nav>
  </div>
  <!-- .container -->
</footer>
