<div class="page-elements">
    <header class="pe-top">
        <h1>
            <a href="{{ path('app_home') }}" class="" id="alx">
                <img src="{{ asset('build/images/ALX.png') }}" width="100" height="100" alt="Alex Seif logo"/>
                <span>{{ 'alex_seif2'|trans }}</span>
            </a>
        </h1>
    </header><!-- .pe-top -->
    <div class="pe-bottom x-clearfix">
        <div class="d-flex align-items-end">
            <div>
                {{ include('default/_trophy.html.twig') }}
            </div>
            <div class="lh-1 fs-1 fw-bold">
                20 Years
            </div>
        </div>

        <div class="x-menu-btn">
            <div class="x-menu-line"></div>
            <div class="x-menu-line"></div>
            <div class="x-menu-line"></div>
        </div>
    </div><!-- .pe-bottom -->
</div>
<div id="nav-container">
    <nav role="navigation">
        <div class="menu-container">
            {#            <a href="{{ path('about') }}" class="x-link">About me</a> #}
            {#            <a href="{{ path('work') }}" class="x-link">My work</a> #}
            <a href="#" class="x-link">{{ 'the_future'|trans }}</a>
            <div class="x-social">
                <a href="https://www.instagram.com/freelancer_alex/" target="_blank" class="social-icon-link"><img
                            src="{{ asset('/build/images/icons/014-instagram.svg') }}"
                            alt="{{ 'alex_seif_instragram'|trans }}" class="social-icon"></a>
                <a href="https://www.instagram.com/freelancer_alex/" target="_blank" class="social-icon-link"><img
                            src="{{ asset('/images/icons/027-whatsapp.svg') }}" alt="{{ 'alex_seif_instragram'|trans }}"
                            class="social-icon"></a>
                <a href="https://www.instagram.com/freelancer_alex/" target="_blank" class="social-icon-link"><img
                            src="{{ asset('/images/icons/013-facebook.svg') }}"
                            alt="{{ 'alex_seif_instragram'|trans }}" class="social-icon"></a>
            </div>
        </div>

    </nav>
</div>