<div class="page-elements">
    <div class="pe-top">
        <h1>
            <a href="{{ path('app_home') }}" class="" id="alx">{{ 'alex_seif2'|trans }}</a>
        </h1>
    </div><!-- .pe-top -->
    <div class="pe-bottom x-clearfix">
        <div class="x-menu-btn">
            <div class="x-menu-line"></div>
            <div class="x-menu-line"></div>
            <div class="x-menu-line"></div>
        </div>
    </div><!-- .pe-bottom -->
</div>
<div id="nav-container">
    <nav role="navigation">
        <div class="menu-container">
{#            <a href="{{ path('about') }}" class="x-link">About me</a>#}
{#            <a href="{{ path('work') }}" class="x-link">My work</a>#}
            <a href="#" class="x-link">{{ 'the_future'|trans }}</a>
            <div class="x-social">
                <a href="https://www.instagram.com/freelancer_alex/" target="_blank" class="social-icon-link"><img
                            src="{{ asset('images/icons/014-instagram.svg') }}"
                            alt="{{ 'alex_seif_instragram'|trans }}" class="social-icon"></a>
                <a href="https://www.instagram.com/freelancer_alex/" target="_blank" class="social-icon-link"><img
                            src="{{ asset('images/icons/027-whatsapp.svg') }}" alt="{{ 'alex_seif_instragram'|trans }}"
                            class="social-icon"></a>
                <a href="https://www.instagram.com/freelancer_alex/" target="_blank" class="social-icon-link"><img
                            src="{{ asset('images/icons/013-facebook.svg') }}"
                            alt="{{ 'alex_seif_instragram'|trans }}" class="social-icon"></a>
            </div>
        </div>

    </nav>
</div>