{% extends ':admin:base.html.twig' %}


{% block adminPageTitle %}Career <small>{{ career.title}}</small>{% endblock %}
{% block adminPageActions %}
  <a href="{{ path('admin_career_index') }}" class="btn btn-default">
    <span class="glyphicon glyphicon-arrow-left"></span></a>
  <a href="{{ path('admin_career_edit', { 'id': career.id }) }}" 
     class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
  <button type="submit" value="Delete" class="btn btn-danger btn-sm delete-btn"
          data-id="career_delete"><span 
      class="glyphicon glyphicon-trash"></span></button>
  {% endblock %}

{% block adminPageContent %}
  <table class="table table-bordered table-stripped">
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ career.id }}</td>
      </tr>
      <tr>
        <th>Title</th>
        <td>{{ career.title }}</td>
      </tr>
      <tr>
        <th>Jobtype</th>
        <td>{{ career.jobType }}</td>
      </tr>
      <tr>
        <th>Role</th>
        <td>{{ career.role }}</td>
      </tr>
      <tr>
        <th>Experience</th>
        <td>{{ career.experience }}</td>
      </tr>
      <tr>
        <th>Location</th>
        <td>{{ career.location }}</td>
      </tr>
      <tr>
        <th>Technology</th>
        <td>{{ career.technology }}</td>
      </tr>
      <tr>
        <th>Company</th>
        <td>{{ career.company }}</td>
      </tr>
      <tr>
        <th>Responsbilities</th>
        <td>{{ career.responsbilities|join }}</td>
      </tr>
      <tr>
        <th>Skills</th>
        <td>{{ career.skills|join }}</td>
      </tr>
      <tr>
        <th>Additional</th>
        <td>{{ career.additional|join }}</td>
      </tr>
    </tbody>
  </table>

  {{ form_start(delete_form) }}
  <input type="submit" value="Delete">
  {{ form_end(delete_form) }}
{% endblock %}
