{% extends 'AdminBundle:Default:base.html.twig' %}

{% block pageActions %}
<a href="{{ path('portfolio_new') }}">Create a new entry</a>
{% endblock %}
{% block adminPanelTitle %}Portofolio list{% endblock %}
{% block adminPanelBody %}

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Order</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for portfolio in portfolios %}
        <tr>
          <td>{{ portfolio.title }}</td>
          <td>{{ portfolio.price }}</td>
          <td>{{ portfolio.portfolioOrder }}</td>
          <td>
            <a href="{{ path('portfolio_show', { 'id': portfolio.id }) }}">show</a>
            <a href="{{ path('portfolio_edit', { 'id': portfolio.id }) }}">edit</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
