{% extends 'AdminBundle:Default:base.html.twig' %}

{% block container %}
  <a href="{{ path('portfolio_index') }}">Back to the list</a>
  <h1>Portofolio <small>{{ portfolio.title }}</small></h1>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge">Title</span>
      {{ portfolio.title }}
    </li>
    <li class="list-group-item">
      <span class="badge">Subtitle</span>
      {{ portfolio.subtitle }}
    </li>
    <li class="list-group-item">
      <span class="badge">Description</span>
      {{ portfolio.description }}
    </li>
    <li class="list-group-item">
      <span class="badge">Price</span>
      {{ portfolio.price|localizedcurrency('USD') }}
    </li>
    <li class="list-group-item">
      <span class="badge">Portofolio Order</span>
      {{ portfolio.portfolioOrder }}
    </li>
  </ul>
  <div class="">
    {% for image in portfolio.images %}
      <img src="{{ image.path }}" />
    {% endfor %}
  </div>
  <a href="{{ path('portfolio_edit', { 'id': portfolio.id }) }}">Edit</a>
  {{ form_start(delete_form) }}
  <input type="submit" value="Delete">
  {{ form_end(delete_form) }}
{% endblock %}
