{% extends 'AdminBundle:Default:base.html.twig' %}

{% block container %}
  <a href="{{ path('portofolio_index') }}">Back to the list</a>
  <h1>Portofolio <small>{{ portofolio.title }}</small></h1>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge">Title</span>
      {{ portofolio.title }}
    </li>
    <li class="list-group-item">
      <span class="badge">Subtitle</span>
      {{ portofolio.subtitle }}
    </li>
    <li class="list-group-item">
      <span class="badge">Description</span>
      {{ portofolio.description }}
    </li>
    <li class="list-group-item">
      <span class="badge">Price</span>
      {{ portofolio.price|localizedcurrency('USD') }}
    </li>
    <li class="list-group-item">
      <span class="badge">Portofolio Order</span>
      {{ portofolio.portofolioOrder }}
    </li>
  </ul>
  <a href="{{ path('portofolio_edit', { 'id': portofolio.id }) }}">Edit</a>
  {{ form_start(delete_form) }}
  <input type="submit" value="Delete">
  {{ form_end(delete_form) }}
{% endblock %}
